# Exclude a variety of commonly ignored directories.
exclude = [
	".bzr",
	".direnv",
	".eggs",
	".git",
	".git-rewrite",
	".hg",
	".ipynb_checkpoints",
	".mypy_cache",
	".nox",
	".pants.d",
	".pyenv",
	".pytest_cache",
	".pytype",
	".ruff_cache",
	".svn",
	".tox",
	".venv",
	".vscode",
	"__pypackages__",
	"_build",
	"buck-out",
	"build",
	"dist",
	"node_modules",
	"site-packages",
	"venv",
	".venv",
]

line-length = 200
indent-width = 4

target-version = "py312"

[lint]
# Enable Pyflakes (`F`) and a subset of the pycodestyle (`E`)  codes by default.
# Unlike Flake8, Ruff doesn't enable pycodestyle warnings (`W`) or
# McCabe complexity (`C901`) by default.
select = [
	"F402", # import-shadowed-by-loop-var                       |   Import {name} from line {line} shadowed by loop variable
	"F404", # late-future-import                                |   from __future__ imports must occur at the beginning of the file

	"F501", # percent-format-invalid-format                     |   %-format string has invalid format string
	"F502", # percent-format-expected-mapping                   |   %-format string expected mapping but got sequence
	"F503", # percent-format-expected-sequence                  |   %-format string expected sequence but got mapping
	"F504", # percent-format-extra-named-arguments              |   %-format string has unused named argument(s)
	"F505", # percent-format-missing-argument                   |   %-format string is missing argument(s) for placeholder(s)
	"F506", # percent-format-mixed-positional-and-named         |   %-format string has mixed positional and named placeholders
	"F507", # percent-format-positional-count-mismatch          |   %-format string has {wanted} placeholder(s) but {got} substitution(s)
	"F508", # percent-format-star-requires-sequence             |   %-format string * specifier requires sequence
	"F509", # percent-format-unsupported-format-character       |   %-format string has unsupported format character {char}

	"F521", # string-dot-format-invalid-format                  |   .format call has invalid format string
	"F522", # string-dot-format-extra-named-arguments           |   .format call has unused named argument(s)
	"F523", # string-dot-format-extra-positional-arguments      |   .format call has unused arguments at position(s)
	"F524", # string-dot-format-missing-arguments               |   .format call is missing argument(s) for placeholder(s)
	"F525", # string-dot-format-mixing-automatic                |   .format string mixes automatic and manual numbering

	"F601", # multi-value-repeated-key-literal                  |   Dictionary key literal {name} repeated
	"F602", # multi-value-repeated-key-variable                 |   Dictionary key {name} repeated

	"F621", # expressions-in-star-assignment                    |   Too many expressions in star-unpacking assignment >:3
	"F622", # multiple-starred-expressions                      |   Two starred expressions in assignment

	"F631", # assert-tuple                                      |   Assert test is a non-empty tuple, which is always True
	"F632", # is-literal                                        |   Use == to compare constant literals
	"F634", # if-tuple                                          |   If test is a tuple, which is always True

	"F701", # break-outside-loop                                |   break outside loop
	"F702", # continue-outside-loop                             |   continue not properly in loop
	"F704", # yield-outside-function                            |   yield statement outside of a function
	"F706", # return-outside-function                           |   return statement outside of a function
	"F707", # default-except-not-last                           |   An except block as not the last exception handler

	"F722", # forward-annotation-syntax-error                   |   Syntax error in forward annotation: def foo() -> "/":

	"F811", # redefined-while-unused                            |   Redefinition of unused {name} from line

	# "F821", # undefined-name                                    |   Undefined name {name}
	"F822", # undefined-export                                  |   Undefined name {name} in __all__
	"F823", # undefined-local                                   |   Local variable {name} referenced before assignment

	"F841", # unused-variable                                   |   Local variable {name} is assigned to but never used

	"F901", # raise-not-implemented                             |   raise NotImplemented should be raise NotImplementedError


	# "W191", # tab-indentation                                   |   Indentation contains tabs

	# "W291", # trailing-whitespace                               |   Trailing whitespace
	# "W292", # missing-newline-at-end-of-file                    |   No newline at end of file
	# "W293", # blank-line-with-whitespace                        |   Blank line contains whitespace

	"W605", # invalid-escape-sequence                           |   Invalid escape sequence: \u\w\u


	# "E101", # mixed-spaces-and-tabs                             |   Indentation contains mixed spaces and tabs

	# "E221", # multiple-spaces-before-operator                   |   Multiple spaces before operator
	# "E222", # multiple-spaces-after-operator                    |   Multiple spaces after operator
	"E223", # tab-before-operator                               |   Tab before operator
	"E224", # tab-after-operator                                |   Tab after operator

	"E231", # missing-whitespace                                |   Missing whitespace after '{token}' (2,1) -> (2, 1)
	"E242", # tab-after-comma                                   |   Tab after comma

	"E275", # missing-whitespace-after-keyword                  |   Missing whitespace after keyword

	"E401", # multiple-imports-on-one-line                      |   Multiple imports on one line
	# "E402", # module-import-not-at-top-of-file                  |   Module level import not at top of file

	"E703", # useless-semicolon                                 |   Statement ends with an unnecessary semicolon

	"E711", # none-comparison                                   |   Comparison to None should be cond is None
	"E712", # true-false-comparison                             |   Comparison to True should be cond is True or if cond:
	"E713", # not-in-test                                       |   Test for membership should be not in
	"E714", # not-is-test                                       |   Test for object identity should be is not

	"E721", # type-comparison                                   |   Do not compare types, use isinstance()
	"E722", # bare-except                                       |   Do not use bare except

	# "E731", # lambda-assignment                                 |   Do not assign a lambda expression, use a def


	"I001", # unsorted-imports                                  |   Import block is un-sorted or un-formatted
	"I002", # missing-required-import                           |   Missing required import: {name}


	"N804", # invalid-first-argument-name-for-class-method      |   First argument of a class method should be named cls
	"N805", # invalid-first-argument-name-for-method            |   First argument of a method should be named self

	"N818", # error-suffix-on-exception-name                    |   Exception name {name} should be named with an Error suffix


	"D200", # fits-on-one-line                                  |   One-line docstring should fit on one line

	"D201", # no-blank-line-before-function                     |   No blank lines allowed before function docstring (found {num_lines})
	# "D202", # no-blank-line-after-function                      |   No blank lines allowed after function docstring (found {num_lines})
	"D205", # blank-line-after-summary                          |   1 blank line required between summary line and description

	# "D206", # indent-with-spaces                                |   Docstring should be indented with spaces, not tabs

	"D207", # under-indentation                                 |   Docstring is under-indented
	"D208", # over-indentation                                  |   Docstring is over-indented

	"D209", # new-line-after-last-paragraph                     |   Multi-line docstring closing quotes should be on a separate line
	# "D212", # multi-line-summary-first-line                     |   Multi-line docstring summary should start at the first line

	"D210", # surrounding-whitespace                            |   No whitespaces allowed surrounding docstring text

	"D300", # triple-single-quotes                              |   Use triple double quotes """

	"D400", # ends-in-period                                    |   First line should end with a period
	# "D401", # non-imperative-mood                               |   First line of docstring should be in imperative mood: "{first_line}"
	# "D402", # no-signature                                      |   First line should not be the function's signature
	"D403", # first-line-capitalized                            |   First word of the first line should be capitalized: {} -> {}
	"D404", # docstring-starts-with-this                        |   First word of the docstring should not be "This"
	"D405", # capitalize-section-name                           |   Section name should be properly capitalized ("{name}")

	"D418", # overload-with-docstring                           |   Function decorated with @overload shouldn't contain a docstring
	"D419", # empty-docstring                                   |   Docstring is empty


	"COM818", # trailing-comma-on-bare-tuple                    |   Trailing comma on bare tuple prohibited
	"COM819", # prohibited-trailing-comma                       |   Trailing comma prohibited


	"ISC002", # multi-line-implicit-string-concatenation        |   Implicitly concatenated string literals over multiple lines
	"ISC003", # explicit-string-concatenation	Explicitly        |   concatenated string should be implicitly concatenated


	"RUF",  # Ruff specific rules
	"FURB", # I AM NOT A FURRIE - Colon
	"NPY",  # Numpy stuff
	"FLY",  # Mucha (the only thing it does is that it yells at hardcoded "".join((a, b)) and replaces with f'{a} {b}')
	"TRY",  # Something about exceptions
	# "PL",    # PyLint
	"PTH", # Pathlib
	"ARG", # Unused arguments
	# "TCH", # Type checking (from typing import TYPE_CHECKING; if TYPE_CHECKING: import aaaa)
	"SIM", # Simplifications
	"RET", # Return stuff
	"PYI", # Typevars, stubs & shit
	"PIE", # Ï€e
	"ICN", # Import conventions
	# "ISC",   # Implicit string concatenation
	"DTZ", # Datetimez
	"C4",  # Comprehension
	# "COM",   # commas
	"A", # builtins
	"B", # bugbear
	# "FBT",   # Boolean Trap
	# "BLE",   # Blind exception
	"UP",  # pyupgrade
	"YTT", # Flake8-2020
	# "ANN",   # Type hinting / Annotaions
	"ASYNC", # Assync
]

ignore = [
	# "COM812",  # missing-trailing-comma                           | So ruff fmt shuts up
	# "COM812",  # single-line-implicit-string-concatenation        | So ruff fmt shuts up

	"ANN401", # any-type                                         |   Dynamically typed expressions (typing.Any) are disallowed
	"DTZ001", # call-datetime-without-tzinfo                     |   The use of datetime.datetime() without tzinfo argument is not allowed
	"DTZ005", # call-datetime-now-without-tzinfo                 |   The use of datetime.datetime.now() without tzinfo argument is not allowed
	"RUF012", # mutable-class-default                            |   Class utils no longer work so it's on the ignore list
	"ARG001", # unused-function-argument                         |   Messed with voiding arguments so it's disabled
	"ARG002", # unused-method-argument                           |   Messed with voiding arguments so it's disabled
	"ARG003", # unused-class-method-argument                     |   Messed with voiding arguments so it's disabled
	"ARG005", # unused-lambd-argument                            |   Messed with voiding arguments so it's disabled
	"ARG004", # unused-static-method-argument                    |   Messed with voiding arguments so it's disabled
	# "PLR2004", # magic-value-comparison                         |   Magic values bruh shut up
	"PLR0913", # too-many-arguments                               |   Too many function arguments
	"RET505",  # superfluous-else-return                          |   This rule just messes up readability, bruh
	"TRY003",  # raise-vanilla-args                               |   Exception("asdf") -> msg = 'asdf'; Exception(msg) bruuuuuhhhhh
	"PTH109",  # os-getcwd                                        |   os.getcwd() is fine
	"PYI041",  # redundant-numeric-union                          |   No
	"PIE796",  # non-unique-enums                                 |   But then enums are dumb?
	"PIE790",  # unnecessary-pass                                 |   Shut up
	"PIE800",  # unnecessary-spread                               |   no u
	"B008",    # function-call-in-default-argument                |   This has its uses
	"B006",    # Do not use mutable data structures for argument defaults # No, fuck off
	"RUF005",  # collection-literal-concatenation                 |   Shut up x2
	"A001",    # builtin-variable-shadowing                       |   id
	"A002",    # builtin-argument-shadowing                       |   type
	"A003",    # builtin-attribute-shadowing                      |   type
	"A005",    # Module tcrutils/types.py is shadowing python's builtin...
	"TRY301",  # raise-within-try                                 |   no i will not
	"RET503",  # implicit-return                                  |   like wtf?
	"PIE804",  # unnecessary-dict-kwargs                          |   sometimes useful
	"RUF013",  # implicit-optional                                |   that's dumb
	"SIM105",  # suppressible-exception                           |   obnoxious
	"SIM108",  # if-else-block-instead-of-if-exp                  |   makes stuff less readable
	"UP032",   # f-string                                         |   sometimes .format() is useful
	"UP031",   # Use format specifiers instead of percent format  |   sometimes % is useful
	"SIM117",  # multiple-with-statements                         |   more readable the old way
	"SIM102",  # collapsible-if                                   |   nah
	# "TCH001",  # typing-only-first-party-import                   |   move to type checking my ass
	# "TCH002",
	# "TCH003",

	"A004",    # Overriding built-ins, from rich import print
	"RUF029",  # async fn without awaits
	"I001",    # I have a better import sorter
	"B026",    # Star-arg unpacking after a keyword argument is strongly discouraged
	"FURB142", # Use of `set.add()` in a for loop
]


[format]
# Like Black, use double quotes for strings.
quote-style = "double"

# Like Black, indent with spaces, rather than tabs.
indent-style = "tab"

# Like Black, respect magic trailing commas.
skip-magic-trailing-comma = false

# Like Black, automatically detect the appropriate line ending.
line-ending = "auto"

# Enable auto-formatting of code examples in docstrings. Markdown,
# reStructuredText code/literal blocks and doctests are all supported.
#
# This is currently disabled by default, but it is planned for this
# to be opt-out in the future.
docstring-code-format = false

# Set the line length limit used when formatting code snippets in
# docstrings.
#
# This only has an effect when the `docstring-code-format` setting is
# enabled.
docstring-code-line-length = "dynamic"
